/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* body style */
body {
  background-color: rgba(28, 30, 32, 1);
  font-family: 'Signika Negative', sans-serif;
}

.clrLight {
  color: rgba(255, 255, 255, 1);
}
/* background color for some elements */
.bgClr {
  background-color: rgba(7, 77, 91, 0.9);
}